<h1 class="text-center">{{pageTitle}}</h1>
<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
    
    <ng-template [ngIf]="leaveList">
            <ng-template [ngIf]="leaveList.length">
                <!-- Search leaves -->
                <section class="search input-group mb-3">
                        <label class="input-group-addon" for="search">Search</label>
                        <input id="search"  type="text" class="form-control" [(ngModel)]="query"(keyup)="searchEvents()" />
                        <span class="input-group-btn">
                             <button class="btn btn-danger" (click)="resetQuery()" [disabled]="!query">&times;</button>
                        </span>
                </section>

                 <!-- No search results -->
                <section class="list-group">
                    <div *ngFor="let leave of fs.orderByDate(filteredLeaves, 'startDatetime')" 
                        class="list-group-item list-group-item-action flex-column align-items-start">
                    
                        <div class="d-flex w-100 justify-content-between">
                            <a  [routerLink]="['/Leaves', leave._id]">
                                <!--<h5 class="mb-1" [innerHTML]="leave.LeaveDetails.leaveType"></h5>-->
                                <h5 class="mb-1">{{leave.LeaveDetails.leaveType}} - {{leave.firstName}}</h5>
                            </a>

                            <div class="event-icons">
                                <img class="event-icon" title="Private" src="/assets/images/eye.svg">
                                <img *ngIf="utils.eventPast(leave.LeaveDetails.endDatetime)" class="event-icon" title="Event is over" src="/assets/images/calendar.svg">
                            </div>

                        </div>

                        <p class="mb-1">
                            <strong>Date:</strong> {{utils.eventDates(leave.LeaveDetails.startDatetime, leave.LeaveDetails.endDatetime)}}
                        </p>

                    </div>
                 
                </section>
            </ng-template>
                <p *ngIf="!leaveList.length" class="alert alert-info">
                    No upcoming public events available.
                </p>
    </ng-template>
     <!-- Error loading events -->
    <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> There was an error retrieving event data.
      </p>
</ng-template>