
<h3 mat-dialog-title>Add new User</h3>
  
  <form (ngSubmit)="submit" #formControl="ngForm">
      <mat-dialog-content>
    <mat-form-field color="accent" class="input-full-width">
      <input matInput placeholder="First Name" [(ngModel)]="user.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field color="accent" class="input-full-width">
      <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName">
    </mat-form-field>
    <mat-form-field color="accent" class="input-full-width">
      <input matInput placeholder="Contact" [(ngModel)]="user.contact" name="contact">
    </mat-form-field>
    <mat-form-field color="accent" class="input-full-width">
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email">
    </mat-form-field>
</mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
  