<div class="container">
    <h3 mat-dialog-title>Edit User</h3>
    <form (ngSubmit)="submit" #formControl="ngForm">
      <mat-dialog-content>
          <!-- <mat-error *ngIf="firstName.invalid || email.invalid || lastName.invalid || contact.invalid">{{getErrorMessage()}}</mat-error> -->
        <mat-form-field class="input-full-width" color="accent">
          <input matInput placeholder="First Name" [(ngModel)]="data.firstName" name="firstName" required>
        </mat-form-field>
        <mat-form-field class="input-full-width" color="accent">
          <input matInput placeholder="Last Name" [(ngModel)]="data.lastName" name="lastName" required>
        </mat-form-field>
        <mat-form-field class="input-full-width" color="accent">
          <input matInput placeholder="Contact" [(ngModel)]="data.contact" name="contact" required>
        </mat-form-field>
        <mat-form-field class="input-full-width" color="accent">
          <input matInput placeholder="Email" [(ngModel)]="data.email" name="email" required>
        </mat-form-field>
      </mat-dialog-content>      
      <div mat-dialog-actions>
        <button color="primary" mat-raised-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()"><i class="fa fa-save"></i> Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  