<mat-toolbar color="primary">
    {{selectedUser|json}}
</mat-toolbar>
{{selectedUser|json}}
<button class="btn btn-sm btn-primary" (click) = "addTransactionDialog()" matTooltip="Add Transaction" matTooltipPosition="right" color="primary">
    <i class="fa fa-plus"></i>
</button>
<mat-table #table [dataSource]="transactionList">
    <ng-container matColumnDef="coin">
        <mat-header-cell *matHeaderCellDef> Coin </mat-header-cell>
        <mat-cell *matCellDef="let trans"> {{trans._id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="holdings">
    <mat-header-cell *matHeaderCellDef>Holdings</mat-header-cell>
    <mat-cell *matCellDef="let trans"> {{trans.qty|number : '1.1-8'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let trans"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell  *matCellDef="let trans">
        <button class="btn btn-primary btn-sm" (click) = "showCoinTransactionDialog(data.user._id, trans._id)" matTooltip="View Transaction" matTooltipPosition="above"><i class = "fa fa-table"></i></button>
        <button class="btn btn-danger btn-sm" matTooltip="Delete Holding" matTooltipPosition="above"><i class="fa fa-trash"></i></button>
    </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedtransColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedtransColumns;"></mat-row>
</mat-table>
