<mat-toolbar color="primary">
        <span>Teammates</span>
        <span class="spacer"></span>
        Reload data:
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
 </mat-toolbar>

  <!-- <div class="container mat-elevation-z8">-->
 <div class="col-md-12 mat-elevation-z8">
    <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter issues">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'">ID</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.display]="'none'"> {{row._id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>FIRST NAME</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header >LAST NAME</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CONTACT</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.contact}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.firstName, row.lastName, row.contact, row.email)">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
               
            <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.firstName, row.lastName, row.contact,row.email)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>

        </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
        [length]="dataSource.filteredData.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

 </div>